*, z *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #eee;
  color: #393939; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Yeseva One", cursive; }

.heading-1 {
  font-size: 4rem; }
  .heading-1--white {
    color: #fff; }

.heading-2 {
  font-size: 6rem;
  letter-spacing: 2px; }
  .heading-2--white {
    color: #fff; }
  .heading-2--black {
    color: #393939; }
  .heading-2--brown {
    color: #F0D6A6; }

.heading-3 {
  font-size: 2.5rem;
  letter-spacing: 1px; }
  .heading-3--white {
    color: #fff; }
  .heading-3--black {
    color: #393939; }

.heading-4 {
  font-family: "Times New Roman", Times;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #b06b3e; }

.btn {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  cursor: pointer; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 6rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-hg {
  margin-top: 6rem; }

.header {
  grid-column: full-start / full-end;
  background-color: #393939;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page-nav {
  display: flex;
  align-items: center; }
  .page-nav__item {
    list-style: none;
    text-transform: uppercase;
    border-right: 1px solid #807E6F;
    align-self: stretch;
    display: flex; }
  .page-nav__link:link, .page-nav__link:visited {
    text-decoration: none;
    color: #fff;
    padding: 3rem;
    background-color: transparent;
    transition: all .2s;
    align-self: center; }
  .page-nav__link:hover, .page-nav__link:active {
    background-color: rgba(0, 0, 0, 0.5); }
  .page-nav__link--logo:link, .page-nav__link--logo:visited {
    text-decoration: none;
    text-transform: none;
    font-family: "Yeseva One", cursive;
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    align-self: center; }

.search-nav {
  display: flex;
  align-self: stretch;
  color: #FAF6E6;
  padding-left: 2rem;
  flex: 1; }
  .search-nav__input {
    font-size: 3rem;
    outline: none;
    border: 0;
    background-color: inherit;
    color: #FAF6E6; }

.user-nav {
  display: flex; }
  .user-nav__item {
    list-style: none;
    text-transform: uppercase;
    border-left: 1px solid #807E6F;
    align-self: stretch;
    display: flex; }
  .user-nav__link:link, .user-nav__link:visited {
    text-decoration: none;
    color: #fff;
    padding: 3rem;
    transition: all .2s; }
  .user-nav__link:hover, .user-nav__link:active {
    background-color: rgba(0, 0, 0, 0.5); }

.cakes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem 3rem; }

.cake-heading {
  grid-column: 1 / -1; }

.cake {
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }
  .cake__thumbnail {
    position: relative; }
  .cake__thumbnail::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(64, 224, 208, 0.25), rgba(255, 140, 0, 0.3), rgba(255, 0, 128, 0.2)); }
  .cake__photo {
    width: 100%;
    display: block; }
  .cake__name {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 0 1rem;
    color: coral; }
  .cake__description {
    font-size: 1.25rem;
    padding: .5rem 1rem; }
  .cake__info {
    font-size: 1.45rem;
    font-weight: 700;
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: space-between; }
  .cake__order:link, .cake__order:visited {
    text-decoration: none;
    color: #393939; }
