// COLOR VARIBLES
$color-white: #fff;
$color-black: #000;

$color-primary: #393939;

$color-orange-dark-1: #e87024;
$color-orange-dark-2: #ee5c13;

$color-brown-light-1: #D49D5A;

$color-brown-dark-1: #AE6637;

$color-grey-light-1: #F2F2EF;
$color-grey-light-2: #B8B7A4;

$color-green-light-1: #B5AB4F;
$color-green-light-2: #B6A337;

// FONT VARIBLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Yeseva One', cursive;

// RESPONSIVE BREAKPOINT

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: $color-primary;      
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 110vh 50vw 50vw;
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];

    background-color: #eee;    
    color: $color-primary;  
}