//background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
.cakes {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    grid-gap: 2rem 3rem;

}

.cake-heading {
    grid-column: 1 / -1;
}

.cake {
    background-color: $color-white;
    box-shadow: 0 .25rem .5rem rgba($color-black, .2);
    
    display: flex;
    flex-direction: column;

    &__icon {

    }

    &__thumbnail {
        position: relative
    }

    &__thumbnail::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(to right, rgba(#40e0d0, .25), rgba(#ff8c00, .3), rgba(#ff0080, .2));
    }
    
    &__photo {
        width: 100%;
        display: block;
    }

    &__name {
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 1rem 0 1rem;
        color: coral;        
    }

    &__description {
        font-size: 1.25rem;
        padding: .5rem 1rem;
    }

    &__info {
        font-size: 1.45rem;
        font-weight: 700;
        padding: 1.25rem 1rem;
        
        display: flex;
        justify-content: space-between;
    }

    &__order:link,
    &__order:visited {
        text-decoration: none;
        color: $color-primary;
    }

    &__price {

    }
}