.cart {
  grid-column: center-start / center-end;
  grid-row-gap: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: center;
  align-items: center;
}
.cart-heading {
  grid-column: 1 / -1;
  text-align: center;

  @media only screen and (max-width: $bp-largest) {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.cart-table {
  grid-column: 2 / 3;

  width: 100%;
  padding: 1.5rem 2rem;
  border: 1px solid black;

  &__head {
    font-size: 1.5rem;
    font-weight: 900;
  }

  &__body {
    font-size: 1.5rem;

    & tr > * {
      padding: 1rem 0;
    }
  }

  &__foot {
    font-size: 1.75rem;
    font-weight: 900;
  }

  &__link:link,
  &__link:visited {
    color: black;
    text-decoration: none;
  }
}

.cart-btn-box {
  grid-column: 2 / 3;

  display: flex;
  justify-content: flex-end;
  
  font-size: 1.75rem;

  &:last-of-type {
    margin-left: .75rem;
  }
} 