.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url("../img/hero-1.jpg");
    background-size: cover;
    background-position: center;
    color: $color-white;
}

// .navbar-wrapper {
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1000;
// }

.navbar {
    background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5));
    padding: 1rem 8rem;

    // display: flex;
    // justify-content: space-around;
    // align-items: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-items: center;
    align-items: center;

    &__item {
        font-family: $font-display;        
        list-style: none;
        letter-spacing: 1px;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    &__link {
        text-transform: uppercase;        
        font-size: 1.5rem;

        &--brand {
            font-size: 4rem;
            text-transform: none;     
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
    }
}

.landing {
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title::after {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
        margin: 4rem;
    }

    &__text {
        font-size: 2rem;
    }
}