.login {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(2, min-content) 8rem;
    justify-content: center;
    align-items: center;
}

.login-heading {
    grid-column: 1 / -1;
    text-align: center;

    @media only screen and (max-width: $bp-largest) {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}

.login-form {
    grid-column: 2 / 3;
    justify-items: center;

    &__group {
        margin-bottom: 1rem;
    }

    &__input {
        width: 100%;
        font-family: $font-display;
        font-size: 2.25rem;
        padding: 1.25rem 1.5rem;
        border: 1px solid #aaa;
        color: #424242;
    }
}

.btn {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: .75rem 0;
}

.seperate-line {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    text-align: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 25rem min-content 25rem;
    grid-column-gap: 3rem;
    align-items: center;

    &::before,
    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: #aaa;
    }
}

.password-heading {
    grid-column: 1 / -1;
    text-align: center;
}