<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Yeseva+One" rel="stylesheet">
    <link rel="stylesheet" href="./public/stylesheets/style.css">
    <title>Cake</title>
</head>

<body class="container">
    <nav class="navbar">
        <div class="logo-box">
            <a href="#" class="logo-box__link">
                <strong>Molino</strong>
            </a>
        </div>
        <ul class="category-nav">
            <li class="category-nav__item">
                <a href="#" class="category-nav__link">Menu</a>
                <i class="category-nav__icon far fa-list-alt"></i>
            </li>
            <li class="category-nav__item">
                <a href="#" class="category-nav__link">Top 10</a>
                <i class="category-nav__icon fas fa-trophy"></i>
            </li>
            <li class="category-nav__item">
                <a href="#" class="category-nav__link">Map</a>
                <i class="category-nav__icon fas fa-map"></i>
            </li>
        </ul>
        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Search">
        </form>
        <div class="user-nav">
            <a href="#" class="user-nav__login-link">
                <i class="user-nav__icon fas fa-user-circle"></i>
                <span class="user-nav__login-text">login</span>
            </a>
            <a href="#" class="user-nav__signup-link">
                <span class="user-nav_signup-text">sign up</span>
            </a>
        </div>
    </nav>

    <div class="reviews mb-lg">
      <h1 class="review-heading heading-1 mt-sm">Customer Reviews</h1>

      <div class="review-create">
        <form action="#" method="POST" class="review-create__form">
          <textarea class="review-create__input" maxlength="8000" placeholder="Write a review for this product"></textarea>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>

      <div class="review">
        <div class="review__author">
          Johnny
          <!-- <div>
            <a href="#" class="btn-review--link js--edit-btn">Edit</a>
          </div> -->
          <form action="/cakes/<%= cake._id %>/reviews/<%= review._id %>?_method=DELETE" class="hidden js--review-delete" method="POST">
            <button type="submit" class="btn-review">Delete</button>
          </form>
        </div>
        <div class="review__comment js--review__comment">
          This bread is delicous!!!
        </div>
        <div class="review-create hidden mt-sm js--review-create">
          <form action="/cakes/<%= cake._id %>/reviews/<%= review._id %>/edit?_method=PUT" method="POST" class="review-create__form">
            <textarea class="review-create__input" maxlength="8000" name="review">Write something</textarea>
            <div class="review-create__button-box">
              <button type="submit" class="btn-review">Save</button>
              <a href="#" class="btn-review--link js--cancel-btn">Cancel</a>
            </div>
          </form>
        </div>
      </div>

      <div class="review">
        <div class="review__author">
          Johnny
          <div>
            <a href="#" class="btn-review--link js--edit-btn">Edit</a>
          </div>
          <form action="/cakes/<%= cake._id %>/reviews/<%= review._id %>?_method=DELETE" class="hidden js--review-delete" method="POST">
            <button type="submit" class="btn-review">Delete</button>
          </form>
        </div>
        <div class="review__comment js--review__comment">
          This bread is delicous!!!
        </div>
        <div class="review-create hidden mt-sm js--review-create">
          <form action="/cakes/<%= cake._id %>/reviews/<%= review._id %>/edit?_method=PUT" method="POST" class="review-create__form">
            <textarea class="review-create__input" maxlength="8000" name="review">Write something</textarea>
            <div class="review-create__button-box">
              <button type="submit" class="btn-review">Save</button>
              <a href="#" class="btn-review--link js--cancel-btn">Cancel</a>
            </div>
          </form>
        </div>
      </div>

    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <script src="public/javascript/script.js"></script>
</body>
</html>