<% include ../partials/header %>

    <div class="cakes mb-lg">
        <h1 class="cake-heading heading-1 mt-md">Cakes</h1>

        <% cakes.forEach(function(cake){ %>
        <div class="cake">
            <div class="cake__thumbnail">
                <img src="<%= cake.image %>" alt="Cake" class="cake__photo">
            </div>
            <div class="cake__name">
                <a href="#" class="cake__name--link">
                    <%= cake.name %>
                </a>
            </div>
            <div class="cake__description">
                <%= cake.description %>
            </div>
            <div class="cake__info">
                <a href="#" class="cake__order">Order now</a>
                <span class="cake__price">$<%= cake.price %></span>   
            </div>
        </div>
        <% }); %>
        <form action="/cakes/5ac4ff05976cf8154079d75d?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
    </div>

<% include ../partials/footer %>