<% include ../partials/header %>

  <div class="cart">
    <h1 class="cart-heading heading-1 mt-sm mb-sm">Cart</h1>

    <table class="cart-table">
      <thead class="cart-table__head">
        <tr>
          <td>Cake</td>
          <td>Amount</td>
          <td>Price </td>
        </tr>
      </thead>
      <tbody class="cart-table__body">
        <tr>
          <td>Vietnamese Sandwich</td>
          <td>3</td>
          <td>$15</td>
        </tr>
        <tr>
          <td>Vietnamese Sandwich</td>
          <td>3</td>
          <td>$15</td>
        </tr>
        <tr>
          <td>Vietnamese Sandwich</td>
          <td>3</td>
          <td>$15</td>
        </tr>
      </tbody>
      <tfoot class="cart-table__foot">
        <tr>
          <td></td>
          <td>Total</td>
          <td>$45</td>
        </tr>
      </tfoot>
    </table>
    
  </div>

<% include ../partials/footer %>